@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    margin: 10px;
}
html{
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg,#174eb3, #461fa6);
    height: 100vh;
    overflow: hidden;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
    text-align: center;
    padding: 20px 0;
    border-bottom: 2px solid silver;
    font-size: 25px;
}

.center h3{
    font-size: large;
    font-weight: 50;
}

.center form{   
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.txt_field{
    padding: 5px;
    font-size: 20px;
    border: hidden;
    border-bottom: solid silver;
    border-radius: 5px;
    background-color: #eee;
    width: 100%;
    height: 50px;
    font-size: 17px;
}

.center input[type="submit"]{
    font-weight: 100;
    padding: 10px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transition: all .2s;
}

.center input[type="submit"]:hover{
    background: #174eb3;
}