@import url('https://fonts.googleapis.com/css2?family=Average&display=swap');

body{
  background-color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TituloEInfo{  
  font-family: average;
  background-color: #333;
  color: #fff;
  padding: 40px;
  text-align: center;
  width: fit-content;
  margin: 20px;
  border-radius: 10px;

}

#titulo{
  font-size: 50px;
  font-weight: 300;
  margin: 0;
}

#subtitulo{
  font-size: 20px;
  font-weight: 300;
  margin: 0;
}

.botones{
  display: flex;
  margin: 20px;
  justify-content: center;
}

.botones a{
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  margin: 0 10px;
}