body{
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
    min-width: 100vh;
}

/* .contenedor{
    position: relative;
    height: 500px;
    display: flex;
    align-items: center;
} */
.wave{
    position: absolute;
    right: 0%;
    top: 0%;
    width: 65%;
}
.LOGO{
    z-index: 1;
    position: absolute;
    right: 2%;
    top: 2%;
    width: 5%;
}
.OSIA{
    z-index: 1;
    position: absolute;
    right: 2%;
    top: 13%;
    width: 5%;
}
.contenedor-textos{
    flex-basis: 50%;
    padding-left: 40px;
    overflow: hidden;
    color: #ffff;
}

.titulo{
    position: absolute;
    left: 60px;
    top: 5%;
    font-size: 120px;
}

.subtitulo{
    position: absolute;
    left: 60px;
    top: 35%;
    font-size: 40px;
    font-weight: 500;
    margin: 20px 0;
}
.cta{
    position: absolute;
    left: 60px;
    top: 60%;
    display: inline-block;
    width: 150px;
    padding: 15px 0;
    text-align: center;
    background-color: #ffff;
    border-radius: 10px;
    text-decoration: none;
    color: #4776E6;
}
/* .contenedor-imagenes{
    
    flex-basis: 50%;
    position: relative;
    z-index: 1;
    text-align: center;
    overflow: hidden;
} */

.img{
    z-index: 1;
    position: absolute;
    right: 10px;
    top: 15%;
    width: 55%;
    animation: ilustrationAnimate ease-in 1s infinite alternate;
}
@keyframes ilustrationAnimate{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.02);
    }
}

@media screen and (max-width: 800px) {
    .contenedor{
        flex-direction: column-reverse;
    }
    
    .wave{
        width: 80%;
    }
    
    .contenedor-textos{
        display: flex;
        flex-direction: column;
        padding-left: 0;
        justify-content: center;
        align-items: center;
        flex-basis: 40%;
        text-align: center;
    }
    
    .titulo{
        font-size: 40px;
    }

    .subtitulo{
        font-size: 20px;
    }

    .contenedor-imagen{
        flex-basis: 60%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .img{
        height: 90%;
    }

    @media screen and (max-width: 500px){
        
        .wave{
            width: auto;
            height: 48%;
        }

        .contenedor-textos{
            
            justify-content: flex-start;
            flex-basis: 40%;
        }
        
        .titulo{
            font-size: 35 px;
        }
    
    }
}