@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
.navbar{
    position: sticky;    
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    transition: all .7s;
}

.navbar div{
    display: flex;
    align-items: center;
}
.navbar div h1{
    font-family: "poppins", sans-serif;
    font-size: 20px;
    padding:5px;
    font-weight: 300;
    margin: auto 10px;
    cursor: pointer;
    width: 230px;
}
.navbar div h1 span{
    font-weight: bold;
}

.navbarAltColor{
    background: #6B3F8F;
}

#logo{
    margin: 0 25px;
    width: 60px;
}

#btn_usuario{
    top: 30px;    left: 0px;
    width: 70px;    height: 70px;
    background: #5923ce;
    border-radius: 0px 10px 10px 0px;
    border:hidden;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
}

#imgUsuario{
    width: 50px;    height: 50px;
}

#btn_usuario:hover{
    width: 140px;
}

#linksalt{
    display: none;
}

#links, #linksalt{
    list-style: none;
}

#links li{
    display: inline-block;
    padding: 10px;
}


#links li a{
    font-family: "poppins", sans-serif;
    font-size: 17px;
    padding:5px;
    text-decoration: none;
    font-weight: 100;
    border: #f15656 hidden;
    transition: border .1s ease-in-out;
}

#links li a:hover{
    /* color: #f15656; */
    border-bottom: 3px solid #f15656;
    text-decoration: none;
}
.link{
    color: #fff;
    font-family: "Work-Sans", sans-serif;
}

a#btn_logOut{
    background-color: #e23f3f;
    border: hidden;
    border-radius: 100%;
    height: 40px;   width: 40px;
    cursor: pointer;
    background-image: url(../images/logout.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .2s;
    margin-top: 100%;
}

a#a_escanear.link{
    text-decoration: none;
    font-size: 25px;
}

.alt{
    transition:all .2s ease-in-out;
    border-bottom: #f15656  3px solid;
    text-decoration: none;
}

.menulateral{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;  width: 0;
    top: 0;   left: 0;
    background-color: #5923ce;
    overflow-x: hidden;
    transition: .5s;
}
.menulateral div{
    padding: 5px 0;
    background-color: #774a9c;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.menulateral h1{
    text-align: center;
}
.menulateral .imgUsuario{
    display: inline-block;
    top: 20px;  left: 15px;
    width: 50px;    height: 50px;
    margin: 15px;
}
.menulateral .cerrar{
    display: inline-block;
    top: 0; 
    right: 0;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    border: hidden;
    font-family:'Times New Roman', Times, serif
}

.menulateral a{
    margin: 15px;
    padding:8px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    border: solid 2px #fff;
    font-family: "poppins", sans-serif;
    text-align: center;
}
#a{
    width: 70%;
}

@media screen and (max-width:1041px){
    #links li a{
        font-size: 14px;
    }
    a#a_escanear.link{
        text-decoration: none;
        font-size: 17px;
    }
    .navbar div h1{
        width: 150px;
        font-size: 14px;
    }
}

@media screen and (max-width:850px) {
    #links{
        display:none;
    }
    #linksalt{
        display: block;
    }
}