@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

body {
    background: linear-gradient(107.56deg, #502660 0%, #5286C2 100%);
    height: 100vh;
    padding: 0;
    margin: 0;
}
.container {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-flow: column
}

.tab{
    border-radius: 10px;
    height: auto;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.userStudies {
    display: none;
    background-color: #5286C2;
}

.userInfo{
    background-color:   #dd9999;
}

table{
    font-family: 'Poppins', sans-serif;
    width: 95%;
    color: #d96459;
    font-size: 23px;
    text-align: left;
    border: 2px solid #332c2b;
    border-collapse: collapse;
}
th{
    background-color: #d96459;
    color: white;
    text-align: left;
}
tr{
    text-align: center;
}
th,tr{
    padding: 1% 15px;
    border: 2px solid #d96459;
    border-collapse: collapse;
}

tr:nth-child(Odd) {background-color: #f2f2f2}
tr:nth-child(even) {background-color: #ffffff}

.buttons a,#btn_editInfo{
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

#btn_editInfo{
    margin: 25px;
    background-color: #d96459;
    border: hidden;

}

#btn_infousuario{
    height: fit-content;
    width: fit-content;
    margin: 25px;
    background-color: #dd9999;
}

#btn_estudios{
    height: fit-content;
    width: fit-content;
    margin: 25px;
    background-color: #5286C2;
}

.studies{
    display: flex;
    width: 65vw;
    padding: 20px;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.studies .study{
    margin: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border:#502660 5px solid;
    border-radius: 10px;
    background-color: #e1efff;
}

.studies .study img{  
    width: 260px;
    height: 170px;  
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}
.studytext{
    padding: 0 10px;
    margin: 10px;
}

.studytext h4,.studytext h5 {
    margin: 10px 0;
    font-family: poppins;
    width: 200px;
}
.studytext span{
    font-weight: 400;
}