@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
.wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

.navbar{
    position:sticky;    
    top: 0px;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#3f1fb1, #50505000);
}

#logo{
    position: relative;
    right: 40px;
    width: 70px;
    height: 70px;
}

#btn_usuario{
    display: inline-block;
    position: sticky;
    top: 30px;
    width: 70px;
    height: 70px;
    left: 0px;
    background: #6928f3;
    border-radius: 0px 10px 10px 0px;
    border:hidden;
    color: #fff;
    cursor: pointer;
}

#imgUsuario{
    width: 50px;
    height: 50px;
}

#btn_usuario:hover{
    width: 140px;
    transition: .3s;
}

#btn_usuario:not(hover){
    transition: .3s;
}

#links{
    list-style: none;
}

#links li{
    display: inline-block;
    padding: 0px 20px;
}

#links li a{
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    padding:5px;
    text-decoration: none;
    font-weight: 100;
}

#links li a:hover{
    color: #7fffd4;
    border-bottom: 3px solid aquamarine;
    text-decoration: none;
    transition: .2s;
}

.link{
    color: #fff;
    margin: 0px 90px;
    font-family: "Work-Sans", sans-serif;
}

a#btn_escanear.link{
    text-decoration: underline;
    font-size: 20px;
}

.menulateral{
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #6928f3;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.menulateral a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.titulos{
    margin-bottom: 20px;
    text-align: center;
    padding-top: 150px;
}

.subtitulo{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #fbfbfb;
    font-weight: 200;
}

/*primera seccion*/
#primeraseccion{
    position: relative;
    background-image: url(./Imagenes/Home.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    align-items: center;
    text-align: center;
    transform: translateZ(-20px) scale(3.5);
    z-index: -3;
}

#OSIA{
    font-family: "Work Sans", sans-serif;
    font-size: 175px;
    font-weight: 400;
    color: #FBFBFB;
    margin: 10px;
    letter-spacing: 0.205em;
    text-shadow: 0px 4px 12px #00000040;
}


/*segunda seccion*/
#segundaseccion{
    position: relative;
    height: 100vh;
    background-color: #AE00FF;
    background-image: url(./Imagenes/QuienesSomosAlt1.png);
    background-size: cover;
    background-position: center;
    z-index: -2;
}

#QuienesSomos{
    position: relative;
    font-family: "Work Sans", sans-serif;
    font-size: 100px;
    font-weight: 400;
    color: #fff;
    margin: 10px;
}

.btn_masInfo{
    text-align: center;
    height: 60px;
    width: 120px;
    background-color: #420F84;
    border-radius: 20px;
    border: hidden;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    display: block;
    margin: 40px auto;
    color: white;
    font-size: 20px;
}

/*tercera seccion*/
#tercerseccion{
    height: 110vh;
    background-color: #001AFF;
    z-index: -1;
}


@media (max-width: 1520px){
    #QuienesSomos{
        font-size: 80px;
    }

    #links li{
        padding: 0px 10px;
    }
}