
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

body{
    background-image: url(./Imagenes/IngresarImagenes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

select, label, input{
    margin: 20px 0;
    font-family: "Space Grotesk";
}

label{
    font-size: 20px;
}

#form{
    display:flex;
    align-items: center;
    justify-content: center;
}

#ingresarImagenes{
    align-items: center;
    background-color: #0E1D51;
    width: 30%;
    height: 65vh;
    border: dashed 10px #9ECBFF;
    border-radius: 10px;
    padding: 30px;
    margin:15px;
    cursor: pointer;
}
 
.ingresarDatosUtiles{
    align-items: center;
    background-color: #9ECBFF;
    width: 40%;
    height: 65vh;
    border-radius: 10px;
    padding: 30px;
    margin: 15px;
}

.previews{
    width: 150px;
    height: 70vh;
    margin: 15px;
    background-color: #9ba4c4;
    border: dashed 4px #9ECBFF;
    border-radius: 10px;
}

.hpreviewimg{
    font-size: 15px;
}

.enviarDatos{
    position: absolute;
    padding: 10px 20px;
    background-color: #7fffd4;
    height: auto;
    width: auto;
    font-size: 30px;
    text-align: center;
    border: hidden;
    border-radius: 10px;
    margin: 0 auto;
    font-family: "Space Grotesk";
    transition: all .2s;
}

.enviarDatos:hover{
    font-size: 33px;    
}

.iconoRadiografia{
    display: flex;
    justify-content: center;
    height: 200px;
    margin: 0 auto;
}

.ingresarImagen{
    font-family: "Space Grotesk";
    display: flex;
    justify-content: center;
    color: #9ECBFF;
}
