<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/ForgotPasswordStyle.css">
    <title>Olvide mi contraseña</title>
</head>
<body>
    <div class="center" id="center">
        <div id="hero">
            <h1>Reestablezca su contraseña</h1>
            <form action="" method="post" id="formResetPassword">
                <h3>Ingrese su email y le enviaremos un link para reestablecer su contraseña</h3>
                <input type="email" name="email" id="email" class="txt_field">
                <input type="submit" value="Enviar mail de recuperacion" id="btn_submit">
            </form>
        </div>
        
    </div>
    
    <script type="module" src="../scripts/forgotPassword.js"></script>
</body>
</html>