<!DOCTYPE html>
<html>
<head>
    <title>SpineView</title>
    <link rel="Stylesheet" href="../public/css/HomePageStyle.css">
    <link rel="icon" href="../public/images/LogoOsia.png">
    <link rel="stylesheet" href="../public/css/NavBarStyle.css">
</head>
<body>
    
    <main id="wrapper">
        <div id="top"></div>
        <nav class="navbar" id="NavBar">
            <div id="left">
                <button id="btn_usuario" onclick="openSideMenu()"><img id="imgUsuario" src="../public/images/Usuario.png"></button>
                <h1 onclick="openSideMenu()">Hola,  <span id="lblNombreCompleto"></span></h1>
            </div>
            
            <div id="right">
                <ul id="links">
                    <li><a href="#segundaseccion" class="link" id="a_quienesSomos">Quiénes somos</a></li>
                    <li><a class="link" href="IngresarImagen.html" id="a_escanear">Escanear estudio</a></li>
                    <li><a class="link" href="aboutUs.html" id="masInfo">Más Información</a></li>
                </ul>
                <a href="#top"><img src="../public/images/LOGO 6.png" id="logo"></a>
            </div>
            
            
            
            <div id="MenuLateral" class="menulateral">
                <div>
                    <img class="imgUsuario" src="../public/images/Usuario.png">
                    <h1 id="lblNombreCompletoSideMenu"></h1>
                    <a href="#" class="cerrar" id="cerrar" onclick="closeSideMenu()">&laquo;</a>
                </div>
                
                <a id="a" href="./UserInfo.html">Mi informacion</a>
                <ul id="linksalt">
                    <li><a href="#segundaseccion" class="link" id="a_quienesSomos">Quiénes somos</a></li>
                    <li><a class="link" href="IngresarImagen.html" id="a_escanear">Escanear estudio</a></li>
                    <li><a class="link" href="aboutUs.html" id="masInfo">Más Información</a></li>
                </ul>
                <a id="btn_logOut" onclick=logout()></a>  
            </div>
        </nav>
        
        <div id="primeraseccion">
            
            <div class="secciontitulos" id="titulos1">
                <h1 id="title">SpineView</h1>
                <h2 class="subtitulo">Soluciones inteligentes para el estudio de la columna vertebral</h2>
            </div>
        </div> <!--fin primera seccion de la pagina-->
        
        <div id="segundaseccion">
            <div class="secciontitulos" id="titulos2">
                <h1 id="QuienesSomos">¿Quiénes somos?</h1>
                <h2 class="subtitulo">Somos un grupo de estudiantes de la escuela ORT Argentina buscando optimizar procesos traumatologicos utilizando inteligencia artificial, y hacerlo de la manera más accesible y usable posible: una página web</h2>
                <h3 class="subsubtitulo">Hace click en el botón de abajo para enterarte como lo hacemos</h3>
            </div>
            
            <a class="a_masInfo" href="aboutUs.html">+INFO</a>
        </div><!--fin segunda seccion de la pagina-->

        <div id="tercerseccion">
            <div class="centersection" id="titulos3">
                <form action="IngresarImagen.html"><button class = "btn_escanear">ESCANEAR</button></form>
                
                <h2 class="subtitulo">Medición de angulos y desviaciones imperceptibles en <br> cuestion de minutos</h2>
            </div>
            <img src="../public/images/scanBackground.png">
        </div><!--fin tercera seccion de la pagina-->

        
    </main><!--class="wrapper"-->

    <script type="module" src="../scripts/controllerHomePage.js"></script>
    <script src="../scripts/OpenCloseSideMenu.js"></script>
</body>
</html>