<!DOCTYPE html>
<html>
<head> 
    <title>Ingresar Estudio</title>
    <link rel="icon" href="../public/images/LogoOsia.png">
    <link rel="stylesheet" href="../public/css/IngresarImagenStyle.css">
</head>
<body> 
    <div id="wrapper">
        <div class="hero" id="hero">
            <nav>
                <img src="../public/images/LogoOsia.png" alt="">
                <a href="HomePage.html">Volver al inicio</a>
                <span style="width:80px; height: 80px;"></span>
            </nav>
            
            <form action="" method="post" id="form">
                <div class="mainForm">
                    <div class="ingresarimagenes" id="ingresarImagenes">
                        <div>
                            <img src="../public/images/uploadIcon.png" draggable="false">
                            <h1>Clickeá o arrastrá un archivo <br>para ingresar una imagen  (solo .jpg)</h1>
                            <input id="imgInput" name="imgInput" class="imgInput" type="file" accept=".jpg" hidden>
                        </div>
                    </div>

                    <section class="previews" id="previews">
                        <img src="" alt="" class="img-preview__image">
                        <span class="img-preview__default-text">No hay imagen seleccionada</span>
                    </section>
                    
                </div>
                <div class="subform">
                    <h2 class="datelbl">Ingrese la fecha del estudio:</h2>
                    <input type="date" id="stddate">
                </div>
                

                <div class="redo" id="redo">
                    <h1 class="wrongimg">¿Te equivocaste de imagen?</h1>
                    <a class="btn_wrongimg" id="btn_wrongimg">Cambiar imagen</a>
                </div>
                
                <input type="submit" value="ESCANEAR" class="enviarDatos" id="btn_submit">
                
            </form>
        </div><!--hero-->
    </div><!--wrapper-->

    <script src="../scripts/previewImg.js"></script>
    <script type="module" src="../scripts/ControllerIngresarImagen.js"></script>
    <script type="module" src="../scripts/sendImages.js"></script>
</body>
</html>