<!DOCTYPE html>
<html>
<head> 
    <title>Ingresar Estudio</title>
    <link rel="icon" href="../public/images/LogoOsia.png">
    <link rel="stylesheet" href="../public/css/IngresarImagenStyle.css">
</head>
<body>
    <nav>
        <img src="../public/images/LogoOsia.png" alt="">
        <a href="HomePage.html">Volver al inicio</a>
        <span style="width:80px; height: 80px;"></span>
    </nav>
    
    <form action="" method="post">
        <div class="mainForm">
            <div class="ingresarimagenes" id="ingresarImagenes">
            <img src="../public/images/Cloud-upload.png">
            <h1 class="ingresarImagen">Ingresar Imagen(es)</h1>
            <input id="imgInput" name="imgInput" class="imgInput" type="file" accept="image/jpeg, image/png" hidden>
        </div>

        <section class="previews" id="previews">
            <img src="" alt="" class="img-preview__image">
            <span class="img-preview__default-text">No hay imagen seleccionada</span>
        </section>
        </div>
        

        <input type="submit" value="ESCANEAR" class="enviarDatos">
        
    </form>

    
    <script src="../scripts/previewImg.js"></script>
    <script src="../scripts/ControllerIngresarImagen.js"></script>
</body>
</html>