<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bienvenido a ÓSIA</title>
    <link rel = "stylesheet" href="../public/css/LandingStyle.css"></a>
    <link rel="icon" href="../public/images/LogoOsia.png">
</head>

<body>
    <div class="wrap">
        <div class="TituloEInfo">
            <h1 id="titulo">SpineView</h1>
            <h3 id="Subtitulo">Soluciones inteligentes para el estudio de la columna vertebral</h3>
        </div>
        <div class="botones">
            <a href="LogIn.html">Iniciar sesión</a>
            <a href="SignUp.html">Registrarse</a>
        </div>
    </div>
</body>
</html>