<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpineView</title>
    <link rel="stylesheet" href="../public/css/landingpStyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap" rel="stylesheet"> 
</head>
<body>
    <main class="contenedor" ></main>
    <div class="contenedor-textos">
        <h1 class="titulo">SpineView</h1>
        <h2 class="subtitulo">Soluciones inteligentes para el estudio de la columna vertebral</h2>
        <a href="./LogIn.html" class="cta">Iniciar sesion</a>
        <a href="./SignUp.html" class="cta">Registrarse</a>
        <div class="contenedor-imagen">
            <img src="ilustraciones/doctor.svg" alt="" class="img">
        </div>
        <img src="../public/ilustraciones/wave.svg" alt="" class="wave">
        <img src="../public/ilustraciones/LOGO.svg" alt="" class="LOGO">    
        <img src="../public/ilustraciones/OSIA.svg" alt="" class="OSIA">
    </div>
   
</body>
</html>