<!DOCTYPE html>
<html>
    
  <head>
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" href="../public/css/LogInStyle.css">
    <link rel="icon" href="../public/images/LogoOsia.png">
  </head>

  <body>
    <div class="center">
      <h1>Iniciar sesión</h1>

      <form action="" method="POST" id="formLogIn" name="formLogIn">

        <div class="txt_field" id="txt_field_email">
          <input type="email" required name="email">
          <span></span>
          <label id="email">Correo electronico</label>
        </div>

        <div class="txt_field">
          <input type="password" required name="password">
          <span></span>
          <label id="pwd">Contraseña</label>
        </div>



        <input type="submit" value="Ingresar" id="btn_submit">

        <div class="signup_link"><a class="pass" href="forgot-password.html">Olvide mi contraseña</a></div>
        
        <div class="signup_link">¿No tenes cuenta? <a href="SignUp.html">Registrarse</a></div>

      </form>
    </div>
    <script src="../scripts/LogIn.js"></script>
  </body>
</html>
