<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/ForgotPasswordStyle.css">
    <title>Reestablecer contraseña</title>
</head>
<body>
    <div class="center">
        <h1>Cambiar contraseña</h1>
        <form action="" method="post" id="formResetPassword">
            <h3 for="password">Ingrese su nueva contraseña</h3>
            <input type="password" name="password" id="password" class="txt_field">
            <h3 for="password2">Confirme su nueva contraseña</h3>
            <input type="password" name="password2" id="password2" class="txt_field">
            <input type="submit" value="Cambiar contraseña" id="btn_submit">
        </form>
    </div>
        
        <script type="module" src="../scripts/resetPassword.js"></script>
</body>
</html>