<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reestablecer contraseña</title>
</head>
<body>
        <h1>Cambiar contraseña</h1>
        <form action="" method="post" id="formResetPassword">
            <label for="password">Ingrese su nueva contraseña</label>
            <br>
            <br>
            <input type="password" name="password" id="password">
            <br>
            <br>
            <br>
            <label for="password2">Confirme su nueva contraseña</label>
            <br>
            <br>
            <input type="password" name="password2" id="password2">
            <br>
            <br>
            <br>
            <input type="submit" value="Cambiar contraseña" id="btn_submit">
        </form>
        <script src="../scripts/resetPassword.js"></script>
</body>
</html>