<!DOCTYPE html>
<html>
<head>
    <title>Resultados de tu estudio</title>
    <link rel="icon" href="../public/images/LogoOsia.png">
    <link rel="stylesheet" href="../public/css/ResultadosImagenStyle.css">
</head>
<body>
    <div class="wrapper">
        <div class="main">
            <nav>
                <img src="../public/images/LogoOsia.png" alt="">
                <a href="HomePage.html">Volver al inicio</a>
                <span style="width:80px; height: 80px;"></span>
            </nav>
            <div class="hero">
                <h1>Ya tenemos los resultados</h1>
                <div class="below">
                    <div class="image">
                        <img src="../public/images/columna.jpg" alt="">
                    </div>
                    <table>
                        <caption>Detectado:</caption>
                        <tr>
                            <th>Fecha de realización</th>
                            <td>12/12/2020</td>
                        </tr>
                        <tr>
                            <th>Paciente</th>
                            <td>Juan Perez</td>
                        <tr>
                            <th>Lesión:</th>
                            <td>nombre de la lesion</td>
                        </tr>
                        <tr>
                            <th>Ubicación</th>
                            <td>X</td>
                        </tr>
                        <tr>
                            <th>Precisión</th>
                            <td>xx%</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>    
</body>
</html>