<!DOCTYPE html>
<html>
<head>
    <title>Resultados de tu estudio</title>
    <link rel="icon" href="../public/images/LogoOsia.png">
    <link rel="stylesheet" href="../public/css/ResultadosImagenStyle.css">
</head>
<body>
    <div class="wrapper">
        <div class="main">
            <nav>
                <img src="../public/images/LogoOsia.png" alt="">
                <div>
                    <a href="HomePage.html">Volver al inicio</a>
                    <a href="./UserInfo.html">Mi información</a>
                </div>
                
                <span style="width:50px; height: 50px;"></span>
            </nav>
            <div class="hero" id="hero">
                <div class="loading" id="loading">
                    <h1 id="getting">Obteniendo resultados...</h1>
                    <div class="lds-ripple"><div></div><div></div></div></div>
            </div>
        </div>
    </div>
    <script type="module" src="../scripts/ReceiveImage.js"></script>
</body>
</html>