<!DOCTYPE html>
<html>
<head>
    <title>Resultados de tu estudio</title>
    <link rel="icon" href="../public/images/LogoOsia.png">
    <link rel="stylesheet" href="../public/css/ResultadosImagenStyle.css">
</head>
<body>
    <div class="wrapper">
        <div class="main">
            <nav>
                <img src="../public/images/LogoOsia.png" alt="">
                <a href="HomePage.html">Volver al inicio</a>
                <span style="width:80px; height: 80px;"></span>
            </nav>
            <div class="hero" id="hero">
                <div class="loading" id="loading">
                    
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="../scripts/ReceiveImage.js"></script>
</body>
</html>