<!DOCTYPE html>
<html>
    
  <head>
    <title>Registrarse</title>
    <link rel="icon" href="../public/images/LogoOsia.png">
    <link rel="stylesheet" href="../public/css/SignUpStyle.css">
  </head>

  <body>
    <div class="center">
      <h1>Crear una cuenta</h1>

      <form action="" method="POST" id="formRegistro" name="formRegistro">
        <div class="txt_field">
          <input type="text" required name="name">
          <span></span>
          <label>Nombre real</label>
        </div>

        <div class="txt_field">
          <input type="text" required name="surname">
          <span></span>
          <label>Apellido</label>
        </div>

        <div class="txt_field">
            <input type="email" required name="email">
            <span></span>
            <label>Correo electronico</label>
        </div>

        <div class="txt_field">
          <input type="number" required name="phone">
          <span></span>
          <label>Telefono</label>
        </div>

        <div class="txt_field">
          <input type="password" required name="password">
          <span></span>
          <label>Contraseña</label>
        </div>

        <div class="txt_field" >
            <input type="password" required name="ContraseniaUsuarioConfirmar">
            <span></span>
            <label id="pass">Confirmar contraseña</label>
        </div>

        <input type="submit" value="Registrar" id="btn_submit">
        
        <div class="signUp">
          ¿Ya existe una cuenta? <a href="login">Iniciar Sesion</a>
      </div>
      </form>

      
    </div>

    <script
  src="https://code.jquery.com/jquery-3.6.1.js"
  integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
  crossorigin="anonymous"></script>
    <script src="../scripts/SignUp.js"></script>
  </body>
</html>
