<!DOCTYPE html>
<html lang="en">
<head>
    <title>Información Personal</title>
    <link rel="stylesheet" href="../public/css/NavBarStyle.css">
    <link rel="stylesheet" href="../public/css/UserInfoStyle.css">
    <link rel="icon" href="../public/images/LogoOsia.png" type="image/png">
</head>
<body style="background-color: #333;">
    <nav class="navbar" id="NavBar">
        <button id="btn_usuario" onclick="openSideMenu()"><img id="imgUsuario" src="../public/images/Usuario.png"></button>

        <ul id="links">
            <li><a href="HomePage.html" class="link" id="a_quienesSomos">Volver al inicio</a></li>
            <li><a class="link" href="IngresarImagen.html" id="a_escanear">Escanear estudio</a></li>
            <li><a class="link" href="aboutUs.html" id="masInfo">Más Información</a></li>
        </ul>
        <a href="HomePage.html"><img src="../public/images/LOGO 6.png" id="logo"></a>
        
        
        <div id="MenuLateral" class="menulateral">
            <div>
                <img class="imgUsuario" src="../public/images/Usuario.png">
                <h1 id="lblNombreCompletoSideMenu"></h1>
                <a href="#" class="cerrar" id="cerrar" onclick="closeSideMenu()">&laquo;</a>
            </div>
            <ul>
                <a href="./UserInfo.html">Mi informacion</a>
            </ul>
            <a id="btn_logOut" onclick=logout()></a>
        </div>
    </nav>

    <div class="container">
        <div class="buttons">
            <a class="btn" id="btn_infousuario" onclick="openTab('tab1')">Información Personal</a>
            <a class="btn" id="btn_estudios" onclick="openTab('tab2')">Historial de estudios</a>
        </div>
        <div id="tab1" class="tab userInfo">
            <table>
                <tr>
                    <th>Nombre Completo</th>
                    <td id="fullName">cargando...</td>
                <tr>
                    <th>Correo Electronico</th>
                    <td id="email">cargando...</td>
                </tr>
                <tr>
                    <th>Número de telefono</th>
                    <td id="phone">cargando..</td>
                </tr>
                <tr>
                    <th>¿Necesitas cambiar la contraseña?</th>
                    <td><a href="./forgotPassword.html">Cambiar contraseña</a></td>
                </tr>
                
            </table>
            <!-- <button id="btn_editInfo" href="">Editar Información</button> -->
        </div>

        <div id="tab2" class="tab userStudies">
            <div class="studies" id="studies">
            </div>
        </div>
    </div>
    
    <script type="module" src="../scripts/controllerUserInfo.js"></script>
    <script type="module" src="../scripts/getStudies.js"></script>
    <script src="../scripts/OpenCloseSideMenu.js"></script>
</body>
</html>